.card {
  position: relative;
  border-radius: 8px;
  background: #FFFFFF;
  transform-origin: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  max-height: 260px;
}

.card h2 {
  font-family: "Bungee", sans-serif;
  font-size: 20px;
  color: #303031;
  transition: all 0.3s ease-out;
  line-height: 1;
  text-align: center;
}

.card figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 16;
  overflow: hidden;
  max-height: 206px;
  display: flex;
  align-items: center;
  max-width: 140px;
}

.card img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(1.001);
  transition: all 0.3s ease-in-out;
}

.card__content {
  padding: 0px 16px 12px;
}

.card__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  z-index: 10;
}

.card:hover img {
  transform: scale(1.05);
  opacity: 0.2;
}

.card:hover h2 {
  opacity: 0;

}

.card p {
  opacity: 0;
  font-size: 14px;
  font-weight: 400;
  color: #303031;
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 16px;
  right: 16px;
  transition: all 0.3s ease-out;
  overflow: auto;
  height: calc(100% - 32px);
}

.card:hover p {
  opacity: 1;
  font-size: 14px;
}