.light {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100000;
    cursor: pointer;
}

.light:hover {
    opacity: 0.6;
}

.light--on {
    transform: scale(1, -1);
}

.light--opacity-2 {
     opacity: 0.2;
}