/*
Main stylesheet file.
It must be linked on every page if you want to use fonts and reset styles
Link it as <link rel="stylesheet" href="/static/css/main.css">
*/

/* Color options */
/*	1.	Dark Blue: #101D25 */
/*	2.	Dark Grayish Blue: #48526A */
/*	3.	Light Yellow: #F7D35D */
/*   5. Black: #303031 */

/* Fonts */
/* Font for titles */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
/* Font for text */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* Font for buttons */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');


/* Styles reset */
html,
body {
	height: 100%;
	min-height: 100vh;
	font-size: 18px;
    font-family: "Roboto Mono", Helvetica, sans-serif;
    font-weight: 200;
	color: #FFFFFF;
	line-height: 1.6;
	background-color: #5C6D89;
}

html,
body,
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-weight: normal;
	font-style: normal;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

p {
	margin: 0;
}


li,
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
    all: unset;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

input {
    all: unset;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: text;
}

input {
    background-color: #303031;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.2s;
}

label {
    font-family: 'Bungee Hairline', sans-serif;
}


input:focus {
    outline: none;
}

label + input {
	margin-top: 10px;
}
