<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFOtutkiJA</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    <link rel="stylesheet" href="/static/css/blackjack.css" />
    <script src='../static/js/blackjack.js' defer></script>
</head>
<body>
    <p id="playerMoney"></p>
    <p>dealer</p>
    <div class="cardsTable">
        <div id="dealerHand" class="hand"></div>
        <p id="dealerScore"></p>
    </div>
    <p>player</p>
    <div class="cardsTable">
        <div id="playerHand" class="hand"></div>
        <p id="playerScore"></p>
    </div>
    <button id="hit">Hit</button>
    <button id="doubleDown">Double Down</button>
    <button id="stand">Stand</button>
</body>
</html>