<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UFOtutkiJA</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/modal.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    <link rel="stylesheet" href="/static/css/blackjack.css" />
    <script src='/static/js/blackjack.js' defer></script>
    <script src="/static/js/modal.js" defer></script>
</head>
<body>
<h1>Black Jack</h1>
    <div id="playArea" style="display: none">
        <p>dealer</p>
        <div class="cardsTable" >
            <div id="dealerHand" class="hand"></div>
            <p id="dealerScore" class="score"></p>
        </div>
        <p>player</p>
        <div class="cardsTable">
            <div id="playerHand" class="hand"></div>
            <p id="playerScore" class="score"></p>
        </div>
        <div id="playButtons">
            <button id="hit">Hit</button>
            <button id="doubleDown">Double Down</button>
            <button id="stand">Stand</button>
        </div>
    </div>

<div id="jackMessages">
    <div id="theMessage">Bet 5$ on Black Jack</div>
    <div id="freeMoney"></div>
        <!--<input type="number" id="betInput" min="5" value="5">-->
    <div id="messagesButtons"><button id="startJack">Start BlackJack</button><button id="backButton">Go Back</button></div>
</div>
<p id="playerMoney">money</p>

    <div id="modalBox" class="modal" style="display: none">
      <div class="modal-content">
        <div id="modalBoxMessage">jkadui</div>
        <div id="modalBoxButtons"><button>play</button><button >back</button></div>
      </div>
    </div>
</body>
</html>