<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UFOtutkiJA</title>
    <link rel="icon" href="static/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/logo.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    <link rel="stylesheet" href="/static/css/hero.css" />
    <link rel="stylesheet" href="/static/css/spotlight.css" />
    <link rel="stylesheet" href="/static/css/light.css" />
    <link rel="stylesheet" href="/static/css/card.css" />

    <script src="/static/js/spotlight.js" defer></script>
    <script src="/static/js/light.js" defer></script>
  </head>
  <body>
    <div id="spotlight" class="spotlight"></div>
    <img class="light light--on" id="light" />
    <audio
      id="light-sound"
      src="/static/audio/light.mp3"
      preload="auto"
    ></audio>
    <audio
      id="light-is-breaking-sound"
      src="/static/audio/light-is-breaking.mp3"
      preload="auto"
    ></audio>
    <audio
      id="light-is-broken-sound"
      src="/static/audio/light-is-broken.mp3"
      preload="auto"
    ></audio>

    <div class="logo">UF0tutkiJA</div>

    <div class="hero">
      <div class="hero__container hero__background">
        <div class="hero__box">
          <div class="hero__box-header">
            <h2 id="investigationCity" class="hero__box-title"></h2>
          </div>
          <div class="hero__text-wrap">
            <div class="hero__text">
              <p id="investigationText"></p>
              <!-- messages container-->
              <div
                class="hero__actions-inner"
                id="investigationInnerActions"
              ></div>
            </div>
          </div>
          <div class="hero__actions" id="investigationActions"></div>
        </div>
      </div>
    </div>
    <script>
      const fetchInvestigation = async () => {
        let currentStep = null;
        let story = null;
        const textContainer = document.getElementById("investigationText");
        const actionsContainer = document.getElementById(
          "investigationActions"
        );
        const innerActionsContainer = document.getElementById(
          "investigationInnerActions"
        );
        const cityContainer = document.getElementById("investigationCity");

        const renderStep = (stepNumber) => {
          const stepData = story.steps[stepNumber];
          textContainer.innerHTML = stepData.text;

          actionsContainer.innerHTML = "";
          innerActionsContainer.innerHTML = "";

          Object.entries(stepData.choices)
            .reverse()
            .forEach(([key, value]) => {
              if (stepData.choices[key].is_creature) {
                const article = document.createElement("article");
                article.className = "card";
                article.innerHTML = `
                <div class="card__wrapper">
                  <figure>
                    <img src="/static/images/сreature-placeholder.png" alt="Creature" />
                  </figure>
                  <div class="card__content">
                    <h2>${value.title || "No title"}</h2>
                    <p>${value.text || "No description"}</p>
                  </div>
                </div>
              `;
                article.addEventListener("click", () => {
                  currentStep = value.next_step;
                  renderStep(currentStep);
                });
                actionsContainer.appendChild(article);
              } else {
                console.log(value);
                const button = document.createElement("button");
                button.className =
                  key === "examine" ? "button" : "button button--blue-dark";
                button.classList.add("button");
                button.textContent = value.text;
                button.addEventListener("click", () => {
                  currentStep = value.next_step;
                  renderStep(currentStep);
                });
                actionsContainer.appendChild(button);
              }
            });
        };

        try {
          const response = await fetch("/investigations/start");
          story = await response.json();
          cityContainer.innerText = story.city;

          // if (story && story.description) {
          //   const descriptionEl = document.createElement("p");
          //   descriptionEl.textContent = story.description;
          //   textContainer.appendChild(descriptionEl);
          // }

          currentStep = story.step;
          renderStep(currentStep);
        } catch (error) {
          console.error("Failed to load investigation:", error);
          textContainer.textContent = "Error loading investigation.";
        }
      };

      fetchInvestigation();
    </script>
  </body>
</html>
