<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UFOtutkiJA</title>
    <link rel="icon" href="static/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/logo.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    <link rel="stylesheet" href="/static/css/hero.css" />
    <link rel="stylesheet" href="/static/css/spotlight.css" />
    <link rel="stylesheet" href="/static/css/light.css" />
    <link rel="stylesheet" href="/static/css/card.css" />
    <link rel="stylesheet" href="/static/css/modal.css" />

    <script src="/static/js/fade-in-audio.js" defer></script>
    <script src="/static/js/spotlight.js" defer></script>
    <script src="/static/js/light.js" defer></script>
    <script src="/static/js/modal.js"></script>
  </head>
  <body>
    <audio
      src="/static/audio/AlienCall.mp3"
      id="fadeAudio"
      muted
      autoplay
      loop
    ></audio>
    <div id="spotlight" class="spotlight"></div>
    <img class="light light--on" id="light" />
    <audio
      id="light-sound"
      src="/static/audio/light.mp3"
      preload="auto"
    ></audio>
    <audio
      id="light-is-breaking-sound"
      src="/static/audio/light-is-breaking.mp3"
      preload="auto"
    ></audio>
    <audio
      id="light-is-broken-sound"
      src="/static/audio/light-is-broken.mp3"
      preload="auto"
    ></audio>

    <div class="logo">Ufotutkija</div>
    <div class="hero--back" id="backImg"></div>
    <div class="hero">
      <div class="hero__container hero__background">
        <div class="hero__box">
          <div class="hero__box-header">
            <h2 id="investigationCity" class="hero__box-title"></h2>
          </div>
          <div class="hero__text-wrap">
            <div class="hero__text">
              <p id="investigationText"></p>
              <!-- messages container-->
            </div>
          </div>
          <div class="hero__actions" id="investigationActions"></div>
        </div>
      </div>
    </div>
    <script>
      const updateStep = async (step) => {
        try {
          const response = await fetch("/investigations/update-step", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ step }),
          });
          const data = await response.json();
          console.log(data);
          return data;
        } catch (error) {
          console.error(error);
        }
      };

      const fetchInventory = async () => {
        try {
          const response = await fetch("/inventory/items");
          const data = (await response.json()) || [];
          console.log(data);
          return data;
        } catch (error) {
          console.error(error);
        }
      };

      // function showInfoModal(message, onClose) {
      //   showModal({
      //     message: message,
      //     buttons: [{ label: "OK", value: true }],
      //     onClose: onClose,
      //   });
      // }

      function showStoryWinModal(text, onClose) {
        showModal({
          message: text,
          buttons: [{ label: "OK", value: true }],
          onClose: onClose,
        });
      }

      function showStoryDescriptionModal(text, onClose) {
        showModal({
          message: text,
          buttons: [{ label: "OK", value: true }],
          onClose: onClose,
        });
      }

      const fetchInvestigation = async () => {
        let currentStep = null;
        let story = null;
        let turnsLeft = 0;

        const textContainer = document.getElementById("investigationText");
        const actionsContainer = document.getElementById(
          "investigationActions"
        );
        const cityContainer = document.getElementById("investigationCity");
        const backContainer = document.getElementById("backImg");

        const renderStep = async (stepNumber) => {
          if (!turnsLeft) {
            window.location.href = "/combat";
            return;
          }

          const stepData = story.steps[stepNumber];

          textContainer.innerHTML = stepData.is_examined
            ? "“There’s nothing more interesting here. Better check other places.”"
            : stepData.text;

          actionsContainer.innerHTML = "";

          Object.entries(stepData.choices)
            .reverse()
            .forEach(([key, value]) => {
              if (key === "examine" && stepData.is_examined) {
                return;
              }
              if (stepData.choices[key].is_creature) {
                const article = document.createElement("card");
                article.className = "card";
                const wrapper = document.createElement("div");
                wrapper.className = "card__wrapper";

                const figure = document.createElement("figure");
                const img = document.createElement("img");
                img.src = `/static/images/character_art/${stepData.choices[key].image}`;
                img.alt = "Creature";

                figure.appendChild(img);

                const content = document.createElement("div");
                content.className = "card__content";

                const h2 = document.createElement("h2");
                h2.textContent = value.title || "No title";

                const p = document.createElement("p");
                p.textContent = value.text || "No description";

                content.appendChild(h2);
                content.appendChild(p);

                wrapper.appendChild(figure);
                wrapper.appendChild(content);

                article.appendChild(wrapper);
                article.addEventListener("click", async () => {
                  currentStep = value.next_step;
                  const updateData = await updateStep(currentStep);
                  turnsLeft = updateData?.turns_limit;

                  if (currentStep) {
                    await renderStep(currentStep);
                  }
                });
                actionsContainer.appendChild(article);
              } else {
                const button = document.createElement("button");
                button.className =
                  key === "examine" ? "button" : "button button--gray-light";
                button.classList.add("button");
                button.textContent = value.text;
                button.addEventListener("click", async () => {
                  let isLast = false;
                  if (key === "examine") {
                    const resultData = await handleExamineClick();
                    isLast = resultData.is_last;
                    currentStep = isLast ? value.next_step : story.step;
                  } else {
                    currentStep = value.next_step;
                  }

                  const updateData = await updateStep(currentStep);
                  turnsLeft = updateData?.turns_limit;
                  const isWin = updateData.is_win;
                  story = updateData.story;
                  if (isWin) {
                    showStoryWinModal(story.win_text, () => {
                      window.location.href = "/menu";
                    });
                    return;
                  }

                  if (currentStep) {
                    await renderStep(currentStep);
                  }
                });
                actionsContainer.appendChild(button);
              }
            });
        };

        try {
          const response = await fetch("/investigations/start");
          story = await response.json();
          cityContainer.innerText = story.city;
          backContainer.style.backgroundImage = `url("/static/images/investigations/${story.ident}.png")`;

          if (story && story.description) {
            showStoryDescriptionModal(story.description, () => {
              currentStep = story.step;
              turnsLeft = story.turns_limit;

              renderStep(currentStep);
            });
          } else {
            currentStep = story.step;
            turnsLeft = story.turns_limit;

            renderStep(currentStep);
          }
        } catch (error) {
          console.error(error);
          textContainer.textContent = "Error loading investigation.";
        }
      };

      async function handleExamineClick() {
        let inventory = await fetchInventory();
        console.log(inventory, "inventory");

        const actionsContainer = document.getElementById(
          "investigationActions"
        );
        actionsContainer.innerHTML = "";

        const textContainer = document.getElementById("investigationText");
        textContainer.innerHTML = `<p>Let's take a look at what they're trying to hide.</p>
        <p style="color: white; opacity: 0.7; font-style: italic;">(Use equipment from your inventory to investigate the location and identify the type of creature.)</p>`;

        const promises = [];
        let result = null;

        Object.entries(inventory)
          .reverse()
          .forEach(([key, value]) => {
            if (value.name === "Coffee") {
              return;
            }
            const item = document.createElement("div");
            item.className = "product-item";

            const article = document.createElement("article");

            const title = document.createElement("h3");
            title.className = "product-title";
            title.innerHTML = value.amount
              ? `${value.name}<br>(${value.amount})`
              : value.name;

            const img = document.createElement("img");
            img.className = "product-image";
            img.src = `/static/images/investigations/${value.name}.png`;
            img.alt = value.name;

            article.appendChild(img);
            article.appendChild(title);
            item.appendChild(article);

            const promise = new Promise((resolve) => {
              let text = "";
              let isLast = "";

              item.addEventListener("click", async () => {
                try {
                  const response = await fetch("/investigations/examine", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ item_name: value.name }),
                  });

                  result = await response.json();
                  console.log(result);
                  text = result.result;
                  isLast = result.is_last;
                } catch (error) {
                  console.error("Error during examine:", error);
                }

                showModal({
                  message: text,
                  buttons: [{ label: "OK", value: true }],
                  onClose: resolve,
                });
              });
            });

            actionsContainer.appendChild(item);
            promises.push(promise);
          });

        await Promise.race(promises);
        return result;
      }

      fetchInvestigation();
    </script>
    <div id="modalBox" class="modal" style="display: none">
      <div class="modal-content">
        <div id="modalBoxMessage"></div>
        <div id="modalBoxButtons"></div>
      </div>
    </div>
  </body>
</html>
