<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>UFOtutkiJA</title>
    <link rel="icon" href="static/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/logo.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    <link rel="stylesheet" href="/static/css/hero.css" />
    <link rel="stylesheet" href="/static/css/spotlight.css" />
    <link rel="stylesheet" href="/static/css/light.css" />
    <link rel="stylesheet" href="/static/css/card.css" />
    <link rel="stylesheet" href="/static/css/modal.css" />

    <script src="/static/js/fade-in-audio.js" defer></script>
    <script src="/static/js/spotlight.js" defer></script>
    <script src="/static/js/light.js" defer></script>
    <script src="/static/js/investigations.js"></script>
    <script src="/static/js/modal.js"></script>
  </head>
  <body>
    <audio
      src="/static/audio/AlienCall.mp3"
      id="fadeAudio"
      muted
      autoplay
      loop
    ></audio>
    <div id="spotlight" class="spotlight"></div>
    <img class="light light--on" id="light" />
    <audio
      id="light-sound"
      src="/static/audio/light.mp3"
      preload="auto"
    ></audio>
    <audio
      id="light-is-breaking-sound"
      src="/static/audio/light-is-breaking.mp3"
      preload="auto"
    ></audio>
    <audio
      id="light-is-broken-sound"
      src="/static/audio/light-is-broken.mp3"
      preload="auto"
    ></audio>
    <img
      src="/static/images/character_art/player.png"
      alt="Player"
      class="player-image"
    />
    <div class="logo">Ufotutkija</div>
    <div class="hero--back" id="backImg"></div>
    <div class="hero">
      <div class="hero__container hero__background">
        <div class="hero__box">
          <div class="hero__box-header">
            <h2 id="investigationCity" class="hero__box-title"></h2>
          </div>
          <div class="hero__text-wrap">
            <div class="hero__text">
              <p id="investigationText"></p>
              <!-- messages container-->
            </div>
          </div>
          <div class="hero__actions" id="investigationActions"></div>
        </div>
      </div>
    </div>
    <div id="modalBox" class="modal" style="display: none">
      <div class="modal-content">
        <div id="modalBoxMessage"></div>
        <div id="modalBoxButtons"></div>
      </div>
    </div>
  </body>
</html>
