<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Menu</title>
    <link rel="icon" href="static/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/logo.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />

    <script src="/static/js/fade-in-audio.js" defer></script>
    <script src="/static/js/menu.js" defer></script>
  </head>
  <body>
    <audio src="/static/audio/CityTraffic.wav" id="fadeAudio" muted autoplay loop></audio>
    <div class="logo">UF0tutkiJA</div>

    <div class="menu">
      <div class="menu__container">
        <button id="airportButton" class="menu__button">
          <div class="menu__button-overlay"></div>
          <p class="menu__button-text">Airport</p>

          <div class="menu__button-description">
            <div class="menu__button-description-title">Airport</div>
            <div class="menu__button-description-text">
              Before you stretches the path into the unknown. Pressing the
              button will take you to the map, where you’ll choose the airport
              that marks the start of your investigation.
              <br /><br />
              Take a moment to ask yourself — are you truly prepared? Do you
              have the right equipment? Enough supplies for the road? If you’re
              not sure, it might be wise to visit the shop first.
              <br /><br />
              Once you move forward, there won’t be a second chance to get ready
            </div>
          </div>
        </button>
        <button id="shopButton" class="menu__button">
          <div class="menu__button-overlay"></div>
          <p class="menu__button-text">Shop</p>

          <div class="menu__button-description">
            <div class="menu__button-description-title">Shop</div>
            <div class="menu__button-description-text">
              In this shop, you will find everything that might save you in a
              difficult moment. Stock up on equipment and grab some snacks —
              anything that could help you regain your strength if something
              unexpected happens along the way.
              <br /><br />
              Running low on money? No problem. In the back of the shop, there
              is a gambling corner. Just remember that luck does not favor
              everyone.
            </div>
          </div>
        </button>
      </div>
    </div>
  </body>
</html>
