<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Shop</title>

    <!-- Importing external stylesheets -->
    <link rel="stylesheet" href="/static/css/button.css" />

    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/shop.css" />
    <link rel="stylesheet" href="/static/css/modal.css" />
    <link rel="stylesheet" href="/static/css/logo.css" />

    <script src="/static/js/modal.js"></script>
    <script src="/static/js/shop.js"></script>
  </head>
  <body>
    <audio src="/static/audio/Shop.wav" autoplay loop></audio>

    <main class="main-content">
      <div class="logo">Ufotutkija</div>

      <!-- Shop title -->
      <h1>Shop</h1>

      <!-- Player balance and top navigation buttons -->
      <section class="player-balance">
        <p class="balance-text">
          You have:
          <strong>
            $<span id="money">
              <!-- Player's money -->
            </span>
          </strong>
        </p>
        <div class="menu-wrapper">
          <!-- Open inventory modal -->
          <button
            id="inventoryButton"
            class="button button--gray-light hero__button"
          >
            Inventory
          </button>
          <!-- Go back to main menu -->
          <button
            id="menuButton"
            class="button button--gray-light hero__button"
          >
            Back to Main Menu
          </button>

          <button
            id="damblingButton"
            class="button button--red-white hero__button"
          >
            Step into the Lucky Room
          </button>
        </div>
      </section>

      <!-- Product catalog section -->
      <section class="products-section">
        <h2 class="visually-hidden">Available Items</h2>
        <div class="products-section-wrapper">
          <ul class="product-list">
            <!-- Product cards -->
          </ul>
        </div>
      </section>
    </main>

    <div id="modalBox" class="modal" style="display: none">
      <div class="modal-content">
        <div id="modalBoxMessage"></div>
        <div id="modalBoxButtons"></div>
      </div>
    </div>
    <script>
      document.getElementById('damblingButton').addEventListener('click', function() {
        window.location.href = '/blackjack';
      });
    </script>
  </body>
</html>
